<h1>Celebrities</h1>


<% promiData.forEach(function (promi){%>
    <p><%= promi.name %></p>
    <p><%= promi.occupation %></p>
    <p><%= promi.catchPhrase %></p>

    <p> <a <a href="/celebrities/show/<%= celebrity._id%>"></a> </p>

    <%})%>